<!DOCTYPE html>
<html lang='eng'>

<head>
  <meta charset='utf-8' />
  <title>FUTURE&#32;RECEIPTS&#32;SALE&#32;AGREEMENT</title>
  <style>
    body {
      font-size: 11pt;
      font-family: 'Calibri';
      margin: 0;
      padding: 0;
    }

    p,
    td {
      font-size: 11pt;
      font-family: 'Calibri';
      color: #000;
    }

    p {
      text-align: justify
    }

    h3 {
      font-family: 'Calibri';
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }

    h4 {
      font-family: 'Calibri';
      margin: 0;
      margin-bottom: 5px;
      margin-top: 20px;
    }

    .red {}

    small {
      font-size: 11px;
    }

    .text-center {
      text-align: center;
    }

    .italic {
      font-style: italic;
      font-size: 10pt;
      font-family: 'Calibri';
    }

    table {
      border-collapse: collapse;
    }

    table th {
      text-align: left;
    }

    table td.blank {
      background: #daeef3
    }

    .table td {
      padding: 5px;
      border: 1px solid #333;
    }

    .table-nobrdr td {
      padding: 5px;
      border: 0;
      text-align: justify
    }

    .dot-border td {
      padding: 5px;
      border: 1px dotted #555;
    }

    .dot-border td .price {
      display: block;
      border-bottom: 1px solid #333;
    }

    .dot-border td.bg {}

    .table-fileds td {
      padding: 5px;
      padding-top: 15px;
      padding-bottom: 0
    }

    .table-fileds td.brdr-btm {
      border-bottom: 1px solid #333;
    }

    .contianer {
      margin: 30px auto;
      max-width: 800px;
      width: 100%;
    }

    .onbehalf {
      text-align: right;
      margin-top: 40px;
    }

    .onbehalf small {
      font-size: 10px;
      color: #777;
    }

    .onbehalf span {
      display: inline-block;
      width: 150px
    }

    .pagebreak {
      min-height: 70px;
      page-break-after: always;
    }

    .anchorString {
      color: white
    }

    .dateClass {
      font-size: 7px;
      color: white
    }
  </style>
</head>

<body>
  <div class='contianer'>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>FUTURE RECEIPTS SALE AGREEMENT</h3>
    <span class='italic'>Date:
      <span class='anchorString'>SIGNED_DATE1</span>
    </span>
    <br>This Future Receipts Sale Agreement (“Agreement”) dated above, is made by and between Lendfoundry, LLC, a limited liability
    company (together with its successors and/or assigns, “Purchaser”) and Merchant (as defined below).</span>
    <br>
    <h4>MERCHANT INFORMATION</h4>
    <table width='100%' class='table'>
      <tr>
        <td width='40%'>
          <strong>Merchant Legal Name ('Merchant'):</strong>
        </td>
        <td width='60%' class='blank'>{{MerchantLegalName}}</td>
      </tr>
      <tr>
        <td>
          <strong>DBA Name:</strong>
        </td>
        <td class='blank'>{{DbaName}}</td>
      </tr>
      <tr>
        <td>
          <strong>Physical Address:</strong>
        </td>
        <td class='blank'>{{PhysicalAdd}}</td>
      </tr>
      <tr>
        <td>
          <strong>Type of Entity:</strong>
        </td>
        <td class='blank'>{{EntityType}}</td>
      </tr>
      <tr>
        <td>
          <strong>[Fed ID/SSN:] </strong>
        </td>
        <td class='blank'>{{SSN}}</td>
      </tr>
      <tr>
        <td>
          <strong>State Organized or Incorporated:</strong>
        </td>
        <td class='blank'>{{State}}</td>
      </tr>
    </table>
    <h4>PRINCIPAL(S) INFORMATION</h4>
    <table width='100%' class='table'>{{#each OwnerList}}
      <tr>
        <td width='40%'>
          <strong>Name of Principal ({{id}}):</strong>
        </td>
        <td width='60%' class='blank'>{{OwnerName}}</td>
      </tr>
      <tr>
        <td>
          <strong>Address:</strong>
        </td>
        <td class='blank'>{{OwnerAdd}}</td>
      </tr>{{/each}}</table>
    <h4>KEY TERMS &amp; EXPLANATION</h4>
    <table width='100%' class='table'>
      <tr>
        <td width='40%'>
          <strong>Purchase Price Amount [Funding Amount]</strong>
        </td>
        <td width='60%'>The dollar amount Purchaser is paying for the Amount Sold.</td>
      </tr>
      <tr>
        <td>
          <strong>Monthly Percentage</strong>
        </td>
        <td>The maximum percentage of Future Receipts generated during a calendar month (not exceeding 15%) that Merchant authorizes
          Purchaser to collect for that calendar month.</td>
      </tr>
      <tr>
        <td>
          <strong>Daily Amount</strong>
        </td>
        <td>The amount of funds arising from Future Receipts that the Merchant authorizes Purchaser to collect each business
          day (Monday – Friday) or each week the business day immediately following the date funds are received, excluding
          Federal Reserve holidays.</td>
      </tr>
      <tr>
        <td>
          <strong>Amount Sold [Total Payback Amount]</strong>
        </td>
        <td>The dollar value of the Future Receipts being Sold.</td>
      </tr>
      <tr>
        <td>
          <strong>Processing Fee</strong>
        </td>
        <td>The fees deducted from Purchase Price.</td>
      </tr>
      <tr>
        <td>
          <strong>Disbursement Amount</strong>
        </td>
        <td>The amount a business receives net of fees withheld.</td>
      </tr>
      <tr>
        <td>
          <strong>No Prepayment Penalty</strong>
        </td>
        <td>Prepayment of any amount, any source, or at any time will not result in new fees or charges and will decrease the
          total cost of capital.</td>
      </tr>
    </table>
    <div class='text-center'>
      <br>
      <small>The following Terms and Conditions, including the Arbitration provision set forth in Section 13 below, govern this
        Agreement.
      </small>
    </div>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>Dated
      <span class='dateClass'>SIGNED_DATE1</span> Lendfoundry, LLC and
      <span class='red'>{{MerchantLegalName}}</span>.</h3>
    <br>
    <p>The parties agree that the receivables Lendfoundry, LLC has purchased will be delivered through [
      <span class='red'>{{Frequency}}</span>] ACH bank account debits in the amount of
      <span class='red'>{{DailyAmount}} [{{Frequency}} on business day immediately following receipt of funds]</span> until all purchased receivables
      and any other sums due have been received by Lendfoundry, LLC.</p>
    <br>
    <table width='50%' class='table dot-border'>
      <tr>
        <td width='60%'>
          <strong>Purchase Price [Funding Amount]</strong>
        </td>
        <td width='40%'>
          <span class='price'>{{FundingAmount}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Processing Fee</strong>
        </td>
        <td>
          <span class='price'>{{ProcessingFee}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Disbursement Amount [Net Deposit]</strong>
        </td>
        <td>
          <span class='price'>{{Disbursment}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Amount Sold [Total Payback]</strong>
        </td>
        <td>
          <span class='price'>{{TotalPayback}}</span>
        </td>
      </tr>
    </table>
    <br>
    <br>{{#if DrawdownSchedule}}
    <table width='100%' class='table dot-border'>
      <tr>
        <td width='24%'>
          <strong>Withdrawal Amount:</strong>
        </td>
        <td width='19%' class='bg'>
          <strong>Month 1-2</strong>
          <br>
          <span>$</span>
        </td>
        <td width='19%' class='bg'>
          <strong>Month 3-6</strong>
          <br>
          <span>$</span>
        </td>
        <td width='19%'>&nbsp;</td>
        <td width='19%'>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <strong>Frequency:
            <span class='red'>{{Frequency}}</span>
          </strong>
        </td>
        <td class='bg'> {{HigherOrder}}</td>
        <td class='bg'> {{LowerOrder}}</td>
        <td class='bg'>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class='bg'>
        <td class='bg'>&nbsp;</td>
        <td class='bg'>&nbsp;</td>
        <td class='bg'>&nbsp;</td>
        <td class='bg'>&nbsp;</td>
        <td class='bg'>&nbsp;</td>
      </tr>
      <tr>
        <td class='bg'>
          <strong>
            <u>Term</u>
          </strong>
        </td>
        <td class='bg'>
          <strong>
            <u>Amount</u>
          </strong>
        </td>
        <td class='bg'>
          <strong>
            <u>Cost of Capital</u>
          </strong>
        </td>
        <td class='bg'>
          <strong>
            <u>Payment</u>
          </strong>
        </td>
        <td class='bg'>
          <strong>
            <u>Total Payback</u>
          </strong>
        </td>
      </tr>{{#each DrawdownSchedule}}
      <tr>
        <td>
          <strong>Month {{MonthId}}</strong>
        </td>
        <td class='bg'>{{Principle}}</td>
        <td class='bg'>{{Interest}}</td>
        <td class='bg'>{{Payment}}</td>
        <td class='bg'>{{TotalPayback}}</td>
      </tr>{{/each}} </table>{{/if}}
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>
      <u>TERMS AND CONDITIONS</u>
    </h3>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <td width='50%'>
          <p>
            <strong>1. Purchase and Sale of Future Receipts</strong>. In consideration of the payment of the Purchase Price specified
            above, Purchaser purchases from Merchant, and Merchant sells to Purchaser, the Amount Sold of Merchant&#8217;s
            future accounts and contract rights to all payments to be made in any form (including, but not limited to, cash,
            check, payment card and electronic fund transfer) arising from or relating to the sale of goods and/or services
            to Merchant&#8217;s customers (&#8220;Future Receipts&#8221;). Merchant represents, warrants and covenants that
            Purchaser is purchasing the Future Receipts free and clear of all claims, liens or encumbrances of any kind whatsoever.
            Merchant agrees that this Agreement applies to Merchant&#8217;s entire right, title and interest in the Future
            Receipts up to the Amount Sold. Merchant and Purchaser agree that this sale and purchase is final and Merchant
            has no right to repurchase or resell the Future Receipts or any portion thereof unless both parties agree to
            it in writing. Merchant, each Principal signing this Agreement and Purchaser (each individually referred to herein
            as &#8220;Party&#8221; and collectively referred to herein as &#8220;Parties&#8221;) agree that the Purchase
            Price paid to Merchant is the price paid to purchase Merchant&#8217;s Future Receipts and that the transaction
            contemplated by this Agreement is a purchase and sale of the Future Receipts. The Parties hereby agree that the
            transaction contemplated by this Agreement is not a loan, a forbearance of money lent or any similar credit transaction.
            Merchant understands, agrees and represents that this transaction is made for business or commercial purposes
            only. </p>
          <p>
            <strong>2. Timing, Method of Payment, Processing Trial</strong>. Merchant and Purchaser agree that Purchaser shall pay
            the Purchase Price or any portion thereof to Merchant only at a time, and through a method, acceptable to Purchaser
            and at Purchaser&#8217;s sole discretion. Merchant and Purchaser also agree that Purchaser, in its sole discretion,
            may refuse to pay the Purchase Price or any portion thereof to Merchant and cancel this Agreement at any time
            prior to the Purchase Price being paid. Prior to paying the Purchase Price, Purchaser may conduct a site inspection
            and shall conduct a processing trial (the &#8220;Processing Trial&#8221;) to determine whether the Daily Amount
            will be correctly processed and/or reported by Merchant&#8217;s bank to Purchaser. In the event Purchaser determines
            to conduct a Processing Trial, Merchant acknowledges and agrees that Purchaser will make its final decision,
            in its sole and absolute discretion, whether to purchase the Future Receipts after completion of the Processing
            Trial. If Purchaser conducts a Processing Trial and determines not to purchase the Future Receipts, any funds
            arising from Future Receipts collected by Purchaser during the Processing Trial shall be returned to Merchant,
            and this Agreement shall be terminated as of such date. Purchaser&#8217;s decision to not conduct a Processing
            Trial shall not waive any of Purchaser&#8217;s rights under this Agreement, even if Purchaser would have discovered
            breach(es) by Merchant during such Processing Trial. </p>
          <p>
            <strong>3. Waiver</strong>. There shall be effected no waiver by failure on the part of Purchaser to exercise, or delay
            in exercising, any right under this Agreement, nor shall any single or partial exercise by Purchaser of any right
            under this Agreement preclude any other future exercise of any right. The remedies provided hereunder are cumulative
            and not exclusive of any remedies provided by law or equity. </p>
          <p>
            <strong>4. Authorization to File Notice of Sale and Security Interest</strong>. Merchant hereby authorizes Purchaser
            to file a financing statement pursuant to the Uniform Commercial Code (UCC) to evidence the sale of the Future
            Receipts. The UCC financing statement may state that the sale of the Future Receipts is intended to be a sale
            and not an assignment for security. Merchant and each Principal agrees to execute any documents or take any action
            in connection with this Agreement that Purchaser deems necessary to perfect or maintain Purchaser&#8217;s interest
            in the Future Receipts purchased pursuant to this Agreement. </p>
          <p>
            <strong>5. Fees and Damages.</strong>
            <br>
            <strong>(a) Processing Fee</strong>. Merchant agrees to pay Purchaser the Processing Fee provided for in this Agreement
            to reimburse Purchaser for(i) expenses Purchaser incurs in originating and processing the transaction, including
            expenses for, among other things, processing Merchant&#8217;s application, providing toll-free access to customer
            service representatives, filing and </p>
        </td>
        <td width='50%'>
          <p>terminating UCC financing statement(s) against Merchant and (ii) fees that Purchaser pays any other person for
            referring Merchant to Purchaser and assisting with the origination of the transaction. Purchaser may (i) deduct
            the amount of the Processing Fee from the Purchase Price that is to be paid to Merchant, (ii) initiate an ACH
            debit entry in the amount of the Processing Fee to the &#8220;Approved Account&#8221; identified in the Authorization
            Agreement for Direct Deposits (ACH Credits) and Direct Payments (ACH Debits), which is incorporated here by reference,
            within thirty (30) Business Days of Purchaser paying Merchant the Purchase Price or (iii) increase the Amount
            Sold by the amount of the Processing Fee. Because this transaction is not a loan, Purchaser does not charge any
            finance charges, late fees or other similar type fees. </p>
          <p>
            <strong>(b) Returned Item Fee</strong>. To the extent not prohibited by applicable law, Merchant agrees to pay Purchaser
            promptly upon demand a returned item fee of $35 if because of insufficient funds, (i) a check, draft or similar
            instrument issued by Merchant or an individual that signs this Agreement is not honored or cannot be processed;
            or (ii) an electronic debit is returned unpaid or cannot be processed. Merchant and any individual that signs
            this Agreement authorize Purchaser to resubmit returned payments in its discretion. At Purchaser&#8217;s option,
            Purchaser will assess this fee the first time a payment is not honored or paid, even if it is later honored or
            paid following resubmission. Any check, draft or similar instrument may be collected electronically if returned
            for insufficient or uncollected funds. Merchant will be in breach of the Agreement if Purchaser imposes at least
            four Returned Item Fees in accordance with the Agreement. </p>
          <p>
            <strong>(c) Rejected ACH Fee</strong>. To the extent not prohibited by applicable law, Merchant agrees to pay Purchaser
            promptly upon demand a rejected ACH fee of $100 if any ACH debit initiated by Purchaser to the Approved Account
            is dishonored pursuant to Merchant&#8217;s instructions. </p>
          <p>
            <strong>(d) Blocked Account Damages</strong>. Merchant agrees to pay Purchaser promptly on demand $2,500 or 25% of the
            Amount Sold, whichever is greater, if Merchant puts a block on the Approved Account that would prevent Buyer
            from debiting the Approved Account as permitted by the Agreement, which action will constitute Merchant&#8217;s
            breach of this Agreement. </p>
          <p>
            <strong>(e) Bank Change Damages</strong>. Merchant agrees to pay Purchaser promptly on demand $50 for each day that an
            Approved Account closure or a change in Approved Account information would prevent Purchaser from debiting the
            Approved Account as permitted by the Agreement. </p>
          <p>
            <strong>(f) Stacking Damages</strong>. Merchant agrees to pay Purchaser promptly on demand $2,500 or 25% of the Amount
            Sold, whichever is greater, if Merchants sells or attempts to sell any Future Receipts to, or obtains a loan
            secured by any Future Receipts from, any person or entity without Purchaser&#8217;s prior written consent before
            (i) Purchaser collects the entire Amount Sold or (ii) three years have passed since the date of this Agreement,
            whichever occurs first. </p>
          <p>
            <strong>6. Right to Cancel</strong>. Merchant may cancel this transaction at any time prior to midnight of the fifth
            Business Day after Purchaser forwards the Purchase Price to Merchant. In order to cancel the transaction, Merchant
            must return the full Purchase Price to Purchaser within five days of receipt of the Purchase Price. </p>
          <p>
            <strong>7. Merchant and Principals&#8217; Representations, Warranties and Covenants</strong>. Merchant represents, warrant
            and covenant that as of the date and during the term of this Agreement: (i) the Future Receipts are and will
            not be subject to any claims, charges, liens, restrictions, encumbrances or security interests of any nature
            whatsoever except to the extent provided for by this Agreement; (ii) Merchant has not and will not sell the Future
            Receipts to another person or entity; (iii) without the prior written consent of Purchaser, Merchant will not
            (a) conduct business under any name other than as disclosed herein, (b) change its business location or (c) temporarily
            close its business for renovations or other purposes; (iv) Merchant will not change or add card processors without
            the prior written consent of Purchaser; (v) </p>
        </td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'>INITIAL_SIGNATURE </span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <td width='50%'>
          <p>Merchant will not take any action to reduce, discourage, or prevent the deposit of all payments received from its
            customers and Future Receipts into the Approved Account and will provide Purchaser with full access to the Approved
            Account, including all necessary online log-in information; (vi) Merchant will not remove or reduce Purchaser’s
            access to, close, change the name, password or other access information relating to the Approved Account or deposit
            funds arising from Future Receipts into another bank account without Purchaser’s prior written consent; (vii)
            Merchant will maintain in the Approved Account each Business Day sufficient funds arising from Future Receipts
            that will enable Purchaser to withdraw the Daily Amount and any other amounts that Merchant owes Purchaser pursuant
            to this Agreement for that Business Day; (viii) Merchant will not undertake any transaction involving the sale
            of Merchant, either by an issuance, sale or transfer of ownership interests in Merchant that results in a change
            in ownership or voting control of Merchant, or by a sale or transfer of substantially all of the assets of Merchant;
            (ix) Merchant will not voluntarily permit another person or company, including without limitation a franchisor
            company (if Merchant is a franchisee), to assume or take over the operation and/or control of Merchant’s business
            or business locations; (x) all information provided by Merchant to Purchaser in this Agreement, application,
            interview with Purchaser or otherwise and all of Merchant’s financial statements and other financial documents
            provided to Purchaser are true, correct, complete and accurately reflect Merchant’s financial condition and results
            of operations at the time such materials were provided to Purchaser and Merchant will promptly, but in no event
            later than ten (10) calendar days, advise Purchaser of any material change in Merchant’s financial condition
            or operations; (xi) Merchant will possess and maintain insurance in such amounts and against such risks as are
            necessary to protect its business and shall show proof of such insurance upon demand; (xii) Merchant is in compliance
            with all laws applicable to Merchant’s business and has all permits, licenses, approvals, consents and authorizations
            necessary to conduct its business and will promptly pay all necessary taxes, including but not limited to employment
            and sales and use taxes; (xiii) Merchant and the person(s) signing this Agreement on behalf of Merchant have
            full power and authority to enter into and perform the obligations under this Agreement; (xiv) Merchant will
            not commit fraud; (xv) Merchant will provide Purchaser copies of all documents related to Merchant’s card processing
            activity or financial and banking affairs within five (5) days of a request by Purchaser; and (xvi) Merchant
            will permit Purchaser to conduct a site inspection of Merchant’s business, including an inspection of Merchant’s
            credit card terminals, at any reasonable time during the term of this Agreement without Notice to Merchant. Merchant
            also represents, warrants and covenants that as of the date of this Agreement, Merchant is not contemplating
            the filing of a bankruptcy proceeding, closing Merchant’s business, winding down Merchant’s business operations,
            or selling Merchant’s business.</p>
          <p>
            <strong>8. Collection of Daily Amount and Monthly Reconciliation</strong>. Merchant agrees to enroll in Purchaser’s Automatic
            Collection Program and authorizes Purchaser to collect from the Approved Account the Daily Amount of Future Receipts
            and any other amounts that Merchant owes Purchaser pursuant to this Agreement each Business Day until (ii) Purchaser
            collects the entire Amount Sold and all other amounts that Merchant owes Purchaser pursuant to this Agreement
            or (ii) three years have elapsed since the date of this Agreement, whichever occurs first. While enrolled in
            the Automatic Collection Program, Merchant agrees to complete all necessary forms to establish the Approved Account
            and agrees to deposit or cause to be deposited all funds arising from Future Receipts into the Approved Account
            and to maintain in the Approved Account each Business Day sufficient funds arising from Future Receipts that
            will enable Purchaser to withdraw the Daily Amount and any other amounts that Merchants owes Purchaser pursuant
            to this Agreement for that Business Day. Merchant agrees not to deposit any funds into the Approved Account other
            than funds arising from Future Receipts. If funds arising from the Purchase Price are deposited into the Approved
            Account, Merchant agrees to move those funds promptly into another bank account. If Merchant’s enrollment in
            the Automatic Collection Program is terminated or suspended, Purchaser agrees to waive any default with regard
            to termination of the Automatic Collection Program if Merchant, within 5 business days, agrees to, and performs
            either a) provide Purchaser full access to the Approved Account or to a new Approved Account, thereby reinstating
            Merchant’s enrollment in the Automatic Collection Program, or b) deliver to Purchaser each Business Day (i) funds
            arising from Future Receipts equal to the Daily</p>
        </td>
        <td width='50%'>
          <p>Amount and (ii) any other amounts that Merchant owes Purchaser pursuant to this Agreement until (1) Purchaser collects
            the entire Amount Sold and all other amounts that Merchant owes Purchaser pursuant to this Agreement or (2) three
            years have elapsed since the date of this Agreement, whichever occurs first. Merchant agrees to deliver funds
            to Purchaser by check to 95 James Way, Southampton PA 18966 or, if offered, by any pay-by-phone or on-line service
            that Purchaser may make available from time to time. All deliveries to Purchaser must be made in goods funds
            in U.S. dollars. Merchant agrees that due to the various sources of future receipts to which Purchaser does not
            have access, including but not limited to credit card receivables, it is impossible for Purchaser to know the
            accurate amount of Merchant’s future receipts in any given calendar month without first obtaining said information
            from Merchant. Merchant therefore agrees that it is Merchant’s sole responsibility to notify Purchaser if the
            total Daily Amounts collected by or delivered to Purchaser for any given calendar month exceeds the Monthly Percentage
            of Future Receipts generated for that calendar month (“Overage”) by sending the complete bank statement for the
            Approved Account for that calendar month and any other information that Purchaser may require to Purchaser’s
            designated email address (payhelp@Lendfoundry.com) (the “Designated Email”) by the 15th day of the following
            month (“Reconciliation Notice”). If Merchant provides a timely Reconciliation Notice to Purchaser at the Designated
            Email, Purchaser will review, and if Purchaser determines there is an Overage, will reconcile Merchant’s Approved
            Account by initiating an ACH credit to the Approved Account in an amount equal to the Overage (“Monthly Reconciliation”).
            If Merchant does not provide a timely Reconciliation Notice to the Designated Email, Merchant hereby waives its
            rights to any Monthly Reconciliation for that calendar month. Merchant is responsible for any and all fees incurred
            from overdraft or rejected transactions that may result from Purchaser debiting the Approved Account under the
            terms of this Agreement. In the event Purchaser withdraws an incorrect amount from any Merchant bank account,
            Merchant authorizes Purchaser to debit or credit, as appropriate, that bank account for the appropriate amount.</p>
          <p>
            <strong>9. Telephone Monitoring, Recording and Contacts</strong>. Purchaser may choose to monitor and/or record telephone
            calls with Merchant, Merchant’s representatives and each Principal. These calls are monitored and/or recorded
            for training, compliance, collections, quality control and other legal purposes. By signing this Agreement, Merchant
            and each Principal agrees that any call between Purchaser and Merchant, Merchant’s representatives and each Principal
            may be monitored and/or recorded. Merchant and each Principal further agree that: (i) each has an established
            business relationship with Purchaser and may be contacted from time to time regarding transactions with Purchaser
            by any method of communication, including, but not limited to, telephone, fax, text message or email; (ii) such
            contacts are not considered unsolicited or inconvenient; and (iii) any such contact may be made using any wireless,
            mobile cellular or other number or email Merchant, Merchant’s representative or any Principal gives Purchaser,
            or using an automated dialing and announcing or similar device, unless prohibited by law. This authorization
            is binding upon Merchant and each Principal upon signing this Agreement and shall not be deemed withdrawn or
            revoked should Purchaser determine not to purchase the Future Receipts from Merchant.</p>
          <p>
            <strong>10. Miscellaneous</strong>. This Agreement shall be binding upon Merchant and inure to the benefit of Purchaser,
            its successors and assigns. This Agreement constitutes the entire Agreement between the Parties, and no representations,
            agreements, or understandings of any kind, either written or oral, shall be binding upon the Parties unless expressly
            contained herein. This Agreement is a complete and exhaustive statement of the terms of the Parties’ agreement,
            which may not be explained or supplemented by evidence of consistent or inconsistent additional terms or contradicted
            by evidence of any prior or contemporaneous agreement. The Parties may change any of the terms of this Agreement
            or amend this Agreement but any such changes or amendments shall not be effective unless they are in writing
            and signed by all Parties. If any of the provisions of this Agreement are determined to be invalid, illegal or
            unenforceable in any respect, the remaining provisions shall not be affected in any manner.</p>
        </td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <td width='50%'>
          <p>All Parties hereby acknowledge having the full power and authority to enter into and perform the obligations under
            this Agreement. The Parties agree to execute such further and additional documents, instruments, and writings
            as may be necessary, proper, required, desirable, or convenient for the purpose of fully effectuating the terms
            and provisions of this Agreement. The information submitted by Merchant as part of its application for this transaction
            is hereby incorporated into and made a part of this Agreement. The signatures to this Agreement may be evidenced
            by facsimile copies or other electronic means reflecting the Party’s signature hereto, and any such copy or signature
            shall be sufficient as if it were an original signature. Sections 9, 10, 11, 12, 13, 14, 18, 19, 21 and 23 through
            28 shall survive any termination, satisfaction or cancellation of this Agreement.</p>
          <p>
            <strong>11. Litigation and Consent to Jurisdiction and Venue</strong>. All Parties have the right to seek adjudication
            in a state or federal court of competent jurisdiction in Bucks County, Pennsylvania for Claims (as defined in
            Section 12) that are not otherwise compelled to arbitration proceedings pursuant to Section 13 of this Agreement.
            The Parties hereby agree that the exclusive venue for all Claims filed in court shall be in Bucks County, Pennsylvania.
            No court action may be brought in any other state or jurisdiction except as necessary to enforce a valid security
            interest or enforce a judgment entered in the Commonwealth of Pennsylvania. Merchant and each Principal (i) waive
            any claim against or objection to the in personam jurisdiction and venue in the state or federal courts in Bucks
            County, Pennsylvania and (ii) waive personal service of process and agree that a summons and complaint and other
            process commencing an action or proceeding in any such court by Purchaser shall be properly served and confer
            personal jurisdiction if sent by registered or certified mail, return receipt requested, to Merchant or Principal
            at the address(es) set forth on the first page of this Agreement, or as otherwise permitted by the laws of the
            Commonwealth of Pennsylvania or the United States.
            <strong>NO CLAIM FILED IN COURT WILL BE HEARD BY A JURY AND ANY CLAIM WILL TAKE PLACE ON AN INDIVIDUAL BASIS; CLASS ACTIONS
              ARE NOT PERMITTED. NO COURT MAY ORDER, PERMIT OR CERTIFY A CLASS ACTION, REPRESENTATIVE ACTION, PRIVATE ATTORNEY-GENERAL
              LITIGATION OR CONSOLIDATED ACTION. NO COURT MAY ORDER OR PERMIT A JOINDER OF PARTIES, UNLESS BOTH MERCHANT
              AND PURCHASER CONSENT TO SUCH JOINDER IN WRITING.</strong>
          </p>
          <p>
            <strong>12. Disputes</strong>. Any claim, dispute or controversy between any of the Parties or between any of the Parties
            and an Affiliated Entity as defined below arising from or relating in any way to the relationship between the
            Parties, including any relationship with an Affiliated Entity, whether such claims are based in tort, contract,
            or arise under statute or in equity (referred to herein as “Claim” or “Claims”), shall be resolved only as provided
            in this Agreement. Affiliated Entity means and includes: (i) any entity or person that at anytime is owned or
            controlled or under common ownership with any entity that at anytime has been owned or controlled by Purchaser;
            (ii) any predecessor or successor entities of Purchaser; (iii) any entity or person who at any time owns or holds
            an equity or security interest in the Future Receipts and the interest was granted by Purchaser; and (iv) all
            officers, directors, owners and employees of Purchaser, its parent company or any Affiliated Entity. Claim includes
            but is not limited to: any disputes regarding or relating to this Agreement or the application provided in connection
            with this transaction; any solicitation or advertising materials; any activities relating to the maintenance
            or servicing of the transaction; any disputes arising from any collection activity related to a breach or alleged
            breach of this Agreement; any disputes concerning the processing or collection of Future Receipts; any disputes
            regarding information obtained by Purchaser from, or reported by Purchaser to, Merchant, credit bureaus or others;
            and any disputes resulting from or relating to, in any way, any previous relationship, agreement or contract
            between the Parties or Merchant and an Affiliated Entity including but not limited to an agreement under which
            Merchant sold Future Receipts to Purchaser or an Affiliated Entity. The Parties hereby agree that this provision
            amends and supersedes any provision in a previous agreement entered into between the Parties or between Merchant
            and an Affiliated Entity regardless of whether the previous agreement has been satisfied, terminated or is in
            default. Accordingly, any Claims between the Parties or made against or by an Affiliated Entity shall no longer
            be governed by the dispute resolution provisions contained in a previous agreement but shall be governed by Sections
            11 through 14, and 21 of this Agreement; provided, however, that any changes this provision makes to previous
            agreements between the Parties or made against or by an Affiliated Entity shall not apply in any</p>
        </td>
        <td width='50%'>
          <p>litigation, arbitration or other proceeding commenced before the date of this Agreement.</p>
          <p>
            <strong>13. ARBITRATION OF DISPUTES AND CLAIMS.</strong>
            <br>(a In order to gain the benefits of a speedy, impartial, and cost-effective dispute resolution procedure, and
            for good and valid consideration as covenanted herein, and intending to be legally bound, Purchaser, Merchant,
            and Principal(s) hereby agree that, except as otherwise provided herein, at the election of any Party by Notice
            sent by registered or certified mail (in each case, return receipt requested and postage prepaid) to the other
            Parties, all disputes and Claims for which a court otherwise would be authorized by law to grant relief, in any
            manner, that any Party may have, now or in the future, of any and every kind or nature whatsoever with or against
            any other Party or any Affiliated Entity shall be submitted to the American Arbitration Association (“AAA”) to
            be resolved and determined through final and binding arbitration according to the Commercial Arbitration Rules
            of the AAA. A Party may demand arbitration within a reasonable time after the dispute or Claim in question has
            arisen even if a lawsuit has been filed, but in no event shall the Party demand arbitration after 14 days from
            the date a Party is served with process in connection with a lawsuit filed by another Party relating to the dispute
            or Claim. The 14 days shall be measured from the date a Party is served with process in connection with a lawsuit
            filed to the date of the mailing of Notice electing arbitration sent by registered or certified mail. This Section
            13 is a material inducement for Purchaser to enter into this Agreement.</p>
          <p>(b) Each Party shall have the right to representation by counsel with respect to arbitration of any dispute arising
            out of or related to this Agreement. Except as prohibited by law, at the request of any Party, the arbitration
            proceedings shall be conducted in confidence, and, in such a case, all documents, testimony, and records shall
            be received, heard, and maintained by the arbitrator in confidence, available for inspection only by the Parties,
            their respective attorneys, and experts, who shall agree, in advance and in writing, to receive all such information
            confidentially and to maintain the secrecy of such information until it shall become generally known. The Parties
            shall be allowed adequate discovery as part of the arbitration process, including reasonable access to essential
            documents and witnesses as determined by agreement or the arbitrator.</p>
          <p>(c) Unless the Parties agree otherwise, the jurisdiction for any arbitration hearings shall be in the county in
            which the lawsuit was filed or if no lawsuit was filed, then in Southampton, Pennsylvania. Each Party shall have
            the option to attend or participate in any arbitration hearings in person or via teleconference or telephone.
            The arbitrator shall conduct a full hearing as to all issues and disputes not resolved by dispositive motion.
            At such hearing, the Parties shall be entitled to present evidence and examine and cross-examine witnesses. The
            arbitrator shall issue a written decision revealing the essential findings and conclusions upon which any award
            is based. In addition, except as otherwise specified herein, the arbitrator shall have the authority to award
            equitable relief, damages, costs, and fees to the extent permitted by law, including, but not limited to, any
            remedy or relief that a governing court might order.</p>
          <p>(d)The Parties agree that any arbitration award rendered as the result of any arbitration under this Agreement
            shall be final and binding, and judgment on the award may be entered and enforced in any court having jurisdiction
            thereof.
          </p>
          <p>(e)The Parties agree that this Agreement, any arbitration under this Agreement, and any arbitration award rendered
            in such arbitration shall be governed by the Federal Arbitration Act. The Parties further agree that in the event
            a claim is first made in arbitration, the arbitrator shall determine all issues and disputes related to arbitrability
            in accordance with the Commercial Arbitration Rules of the AAA, including but not limited to the meaning, construction,
            validity, scope and/or enforceability of this Section 13. If a claim is first filed as a lawsuit, the presiding
            court shall determine all issues and disputes related to arbitrability pursuant to the plain language of this
            Agreement. All statutes of limitations which would be applicable to a judicial proceeding shall </p>
        </td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <td width='50%'>
          <p>be applicable to an arbitration proceeding under this Agreement</p>　\t(f) \tThe Parties agree that the Party electing
          arbitration shall pay all AAA filing fees and reasonable administrative fees. If the party electing arbitration
          is not the party that filed the lawsuit, the filing fee must be advanced by the Party electing arbitration to the
          other Party in advance of the filing of the demand for arbitration. With respect to all other costs and fees of
          the arbitration, the Parties agree that each Party shall bear its own costs and fees, including witness fees and
          attorneys’ fees, and that each Party shall bear an equal share of the arbitrator’s fees. If the arbitrator finds
          that either the substance of the Claims of any Party or the relief sought by any Party is frivolous or brought
          for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)), then
          the arbitrator shall award the other Party all of its costs and fees of the arbitration, including witness and
          attorneys’ fees. The arbitrator shall award the prevailing Party all of their costs and fees of the arbitration,
          including witness and attorneys’ fees.</p>　\t(g) \tNothing in this Section 13 shall limit the right of a Party
          (i) to exercise self-help remedies available under this Agreement, including, without limitation, setoff, or (ii)
          to obtain from a court provisional or ancillary remedies such as, but not limited to, injunctive relief, specific
          performance, attachment, or the appointment of a receiver from a court having jurisdiction before, during, or after
          the pendency of any arbitration proceeding. The pursuit of provisional or ancillary remedies or exercise of self-help
          remedies shall not constitute a waiver of the right of any Party to submit such dispute or Claim to arbitration.</p>
          <p>(h) \t
            <strong>EACH PARTY MAY BRING CLAIMS AGAINST THE OTHER PARTY ONLY IN THEIR INDIVIDUAL CAPACITY, and not as a plaintiff
              or class member in any purported class or representative proceeding. Further, the parties agree that the arbitrator
              may not consolidate proceedings for more than one person’s Claims, and may not otherwise preside over any form
              of a representative or class proceeding. If this Section 13(h) is determined to be illegal or unenforceable,
              Purchaser, in its sole discretion, shall elect whether any class action against it shall be brought in a judicial
              proceeding pursuant to Section 11 of this Agreement or in arbitration pursuant to this Section 13 of this Agreement.</strong>
          </p>
          <p>
            <strong>14.\tCovenant Not To Sue.</strong>
            <br>　　　Merchant and Principal(s) agree that they will never institute, prosecute or in any way aid in the institution
            or prosecution of any claim, demand, action, or cause of action at law or in equity against Purchaser or any
            Affiliated Entity for a claim of usury, a claim that Purchaser is required to have any lending license, or any
            other claim contending that the Purchase Price paid by Purchaser in exchange for the Amount Sold of Future Receipts
            is, or should be construed as, a loan from Purchaser to Merchant. Nothing in this section is intended to prevent
            Merchant or Principal from complying with any lawfully issued subpoena or court ordered discovery.</p>　　　This
          Section 14 is a covenant not to sue, and not a release. In the event that Merchant or any Principal breaches or
          in any way violates the terms of this Section 14, Merchant and Principal(s) jointly and severally agree to indemnify
          Purchaser for all damages arising from that breach, including without limitation the payment of all costs and expenses
          of every kind for the enforcement of Purchaser’s rights and remedies under this section, including any and all
          attorneys’ fees and costs in any trial court or appellate court proceeding, any administrative proceeding, any
          arbitration or mediation, or any negotiations or consultations in connection with breach of this section.</p>　　　This
          covenant shall inure to the benefit of Purchaser and each Affiliated Entity, and shall bind Merchant, Principal(s)
          and their respective successors and/or assigns, any of their respective affiliated or subsidiary companies, partners,
          owners, joint venturers, and/or any of Merchant’s managers, directors, officers, employers or agents.</p>
          <p>
            <strong>15.\tCollection of Receipts</strong>. As provided herein, Purchaser shall collect the Daily Amount of Future
            Receipts by initiating ACH debits to the Approved Account. In the event that Merchant (i) changes or permits
            the change of the Approved Account, including details allowing Purchaser to have online access to the Approved
            Account or (ii) deposits any funds arising from Future Receipts into any account that is not the Approved Account,
            Purchaser shall have the right, without waiving any of its rights and remedies and without Notice to Merchant
            or any Principal, to notify the</p>
        </td>
        <td width='50%'>
          <p>new or additional bank of the sale of Future Receipts hereunder and to direct such new or additional bank to make
            payment to Purchaser of all or any portion of the amounts received by such bank. </p>
          <p>
            <strong>16.\tPower of Attorney</strong>. Merchant hereby grants to Purchaser an irrevocable power of attorney, which
            power of attorney shall be coupled with an interest, and hereby appoints Purchaser or any of Purchaser’s representatives
            as Merchant’s attorney in fact, with full authority to take any and all action or execute any instrument or document
            necessary to collect all Future Receipts purchased by Purchaser and other amounts due to Purchaser pursuant to
            this Agreement upon Merchant’s breach of this Agreement, including, but not limited to, (i) receiving full access
            to any Merchant bank account, including setting up and processing ACH debit payments in connection with Section
            20 of this Agreement and (ii) notify each of Merchant’s card processors of Merchant’s sale of Future Receipts
            to Purchaser pursuant to this Agreement and Merchant’s breach of the Agreement and direct each processor to make
            payment directly to Purchaser of all or any portion of the amounts received or held by each processor for or
            on behalf of Merchant and to provide any information regarding Merchant requested by Purchaser until such time
            as the Amount Sold of Future Receipts has been collected by Purchaser and all other amounts owed by Merchant
            to Purchaser pursuant to this Agreement have been paid in full. Each Merchant card processor may rely on this
            section as written authorization of Merchant to provide any information requested by Purchaser and to make payments
            to Purchaser. Each of Merchant’s card processors is hereby irrevocably authorized and directed by Merchant to
            follow any instruction of Purchaser regarding payment or transfer of funds as instructed by Purchaser, without
            inquiry as to Purchaser’s right or authority to give such instructions. Merchant agrees not to interfere with
            Purchaser’s instructions to any card processor or any card processor’s compliance with this Agreement or request
            any modification to Purchaser’s instructions without Purchaser’s prior written consent.</p>
          <p>
            <strong>17. \tFinancial Condition and History</strong>. Merchant and each Principal authorize Purchaser and its agents
            to investigate their financial condition and history and authorize each of Merchant’s card processors to provide
            Purchaser with Merchant payment card and check processing activity statements and any other information on Merchant
            upon Purchaser’s request. Merchant will provide to Purchaser within five (5) days of a request by Purchaser any
            documents relating to Merchant’s financial condition and history including, but not limited to, Merchant’s bank
            statements, financial statements, tax returns and payment card and check processing activity statements. A photocopy
            of this authorization will be deemed acceptable for release of financial information. Merchant shall give Purchaser
            advance written notice of not less than seven (7) business days prior to any bankruptcy filing involving Merchant.
            Merchant shall give Purchaser advance written notice of not less than seven (7) business days prior to the closing
            of any sale of all or substantially all of Merchant’s assets or ownership interests, and such notice shall not
            constitute a waiver of Purchaser’s rights pursuant to such sale, which Merchant agrees constitutes a breach of
            this Agreement. Merchant shall promptly, but in no event later than ten (10) calendar days, give Purchaser written
            notice of any other material adverse changes in Merchant’s financial condition.</p>
          <p>
            <strong>18. \tIndemnification of Card Processors</strong>. Merchant and each Principal agree to jointly and severally
            indemnify and hold harmless each of Merchant’s card processors and their officers, directors and shareholders
            against all losses, damages, claims, liabilities and expenses (including reasonable attorney’s fees) incurred
            by Merchant’s card processor resulting from (i) claims asserted by Purchaser for monies owed to Purchaser as
            a result of Purchaser’s purchase of Future Receipts pursuant to this Agreement and (ii) actions taken by Merchant’s
            card processor in reliance upon information or instructions provided by Purchaser. Merchant agrees to promptly,
            but in no event longer than three (3) business days from Merchant’s receipt of such request from Purchaser and/or
            credit card processor, execute any authorizations or other documents that a</p>
        </td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <td width='50%'>
          <p>credit card process may require in order to release payment directly to Purchaser.</p>
          <p>
            <strong>19. \tReliance on Terms</strong>. Sections 16, 17 and 18 of this Agreement are agreed to for the benefit of Merchant,
            Purchaser and each of Merchant’s card processors, and notwithstanding the fact that each of Merchant’s card processors
            is not a party of this Agreement, each of Merchant’s card processors may rely upon their terms and raise them
            as a defense in any action.</p>
          <p>
            <strong>20. Remedies</strong>. In the event Merchant breaches any of the provisions of this Agreement, including but
            not limited to the representations, warranties and covenants made in Section 7, Purchaser shall be entitled to
            all remedies available under law. In any action for damages, Purchaser shall be entitled to damages equal to
            the Amount Sold less the amount of funds arising from Future Receipts received by Purchaser (“Uncollected Amount
            Sold”). Merchant and each Principal signing this Agreement hereby agree that Purchaser may electronically debit
            from any of Merchant’s or each Principal’s bank accounts via ACH or otherwise all or any portion of the Uncollected
            Amount Sold or may instruct Merchant’s card processor to forward to Purchaser all or any portion of the Uncollected
            Amount Sold and any other amounts that Merchant owes Processor pursuant to this Agreement if Merchant breaches
            this Agreement. Purchaser is purchasing the Future Receipts at a discount. Because the transaction evidenced
            by this Agreement is not a loan, if Merchant’s business slows down and Merchant’s Future Receipts decrease or
            if Merchant closes its business or ceases to process payment devices and Merchant has not violated any of the
            representations, warranties and covenants in this Agreement, there shall be no default or breach of this Agreement.
            Purchaser is purchasing the Future Receipts and Purchaser assumes the risk that Merchant’s business may fail
            or be adversely affected by conditions outside the control of Merchant provided Merchant has not breached a representation,
            warranty or covenant set forth in this Agreement.</p>
          <p>
            <strong>21. Indemnification of Purchaser for Breach, Attorney’s Fees and Costs</strong>. In the event of Merchant’s or
            any Principal’s breach of this Agreement, except as otherwise provided in Section 13, Merchant and Principal(s),
            jointly and severally, shall assume liability for and do hereby agree to indemnify, protect, save and keep harmless
            Purchaser and its agents and servants, from and against any and all liabilities, Claims, losses, obligations,
            damages, penalties, actions, and suits of whatsoever kind and nature imposed on, incurred by or asserted against
            Purchaser or its agents and servants, in any way relating to or growing out of such breach (collectively, “Indemnified
            Amounts”), including, without limitation, and to the extent not prohibited by applicable law the payment of all
            costs and expenses of every kind for the enforcement of Purchaser’s rights and remedies hereunder and/or the
            collection of amounts due to Purchaser hereunder, including attorneys’ fees and costs in any trial court or appellate
            court proceeding, any administrative proceeding, any arbitration or mediation, or any negotiations or consultations
            in connection with any breach. Such Indemnified Amounts shall bear interest at the highest rate of interest allowed
            by applicable law until paid. To the extent not prohibited by applicable law, in the event Merchant defaults,
            Purchaser shall be entitled to recover from Merchant and Principal(s) all costs of collection, including third
            party collection costs. To the extent not prohibited by applicable law, if any Party files a Claim against another
            Party as permitted in Sections 11 through 13 and 31 herein, the prevailing Party on the Claim shall be entitled
            to collect all court or arbitration costs and reasonable attorneys’ fees incurred in pursuing the Claim. If no
            monetary damages are awarded, no attorney’s fees or costs shall be awarded. To the extent not prohibited by applicable
            law, if a Party files a Claim against another Party and the Claim is dismissed or the defending Party prevails
            in the matter, the Party filing the Claim shall pay the defending Party’s reasonable attorneys’ fees and costs
            incurred in defending the matter, whether in court or arbitration.</p>
          <p>
            <strong>22. Reporting</strong>. By signing this Agreement, each Party authorizes Purchaser to obtain a credit report
            or background report on Merchant and each individual or Principal that signs this Agreement at any time during
            the term of this Agreement and 90 days after the term of this Agreement. The report(s) Purchaser obtains may
            include, but is not limited to, the business’ or individuals’ credit history or similar characteristics, employment
            and education verifications, social security verification,</p>
        </td>
        <td width='50%'>
          <p>criminal and civil history, Department of Motor Vehicle records, any other public records, and any other information
            Purchaser deems relevant. If additional authorizations are required, Merchant and each Principal agrees to execute
            such additional authorization(s) required to enable Purchaser to obtain such reports.</p>
          <p>
            <strong>23. Notices</strong>. Each Party giving or making any notice, request, demand or other communication (each, a
            “Notice”) pursuant to this Agreement shall give the Notice in writing and use one of the following methods of
            delivery, each of which for purposes of this Agreement is a writing: personal delivery, registered or certified
            mail (in each case, return receipt requested and postage prepaid), or nationally recognized overnight courier
            (with all fees prepaid). Any Party giving a Notice shall address the Notice to the receiving Party at the address
            set forth on the face of this Agreement or to another address as designated by a Party in a Notice pursuant to
            this section. Any Party changing its address after the execution and delivery of this Agreement shall provide
            Notice to all other Parties. For a change of address only, a Party may provide Notice by email or facsimile,
            but such Notice is not effective unless receipt is acknowledged by the recipient. All Notices to a Principal
            shall be addressed to the Principal in care of Merchant unless such Principal has provided Notice to Purchaser
            after the date of this Agreement directing that Notices to such Principal are to be delivered to a different
            address. Except as otherwise provided herein, a Notice is effective only if the Party giving the Notice has complied
            with this Section 23, and the addressee has received the Notice. If the addressee rejects or otherwise refuses
            to accept the Notice, or if the Notice cannot be delivered because of a change in address for which no Notice
            was given, then such Notice shall be deemed to have been received upon the rejection, refusal or inability to
            deliver. </p>
          <p>
            <strong>24. WAIVER OF JURY TRIAL</strong>. EXCEPT TO THE EXTENT PROHIBITED BY APPLICABLE LAW OR DEEMED TO BE AGAINST
            PUBLIC POLICY, MERCHANT, PRINCIPAL(S) AND PURCHASER HEREBY KNOWINGLY, VOLUNTARILY, INTENTIONALLY, WITHOUT DURESS
            AND AFTER DISCUSSING OR HAVING THE OPPORTUNITY TO DISCUSS THIS WAIVER WITH THEIR RESPECTIVE ATTORNEYS, WAIVE
            THE RIGHT TO A TRIAL BY JURY WITH RESPECT TO ANY CONTROVERSY, DISPUTE, OR CLAIM, INCLUDING ALL CLAIMS SOUNDING
            IN CONTRACT OR TORT, ARISING FROM OR RELATING TO (A) THIS AGREEMENT OR ANY TRANSACTION DOCUMENT, (B) ALL PAST,
            PRESENT, AND FUTURE AGREEMENTS INVOLVING THE PARTIES, (C) ANY TRANSACTION CONTEMPLATED BY THIS AGREEMENT OR THE
            TRANSACTION DOCUMENTS, AND ALL PAST, PRESENT, AND FUTURE TRANSACTIONS INVOLVING THE PARTIES, AND (D) ANY ASPECT
            OF THE PAST, PRESENT, OR FUTURE RELATIONSHIPS OF THE PARTIES. THIS WAIVER OF TRIAL BY JURY PROVISION IS A MATERIAL
            INDUCEMENT FOR PURCHASER TO ENTER INTO THIS AGREEMENT.</p>
          <p>
            <strong>25. WAIVER OF PUNITIVE DAMAGES</strong>. MERCHANT, PRINCIPAL(S) AND PURCHASER HEREBY KNOWINGLY, VOLUNTARILY AND
            INTENTIONALLY WAIVE ANY RIGHT ANY OF THEM MAY HAVE TO OBTAIN PUNITIVE, CONSEQUENTIAL, OR EXEMPLARY DAMAGES FROM
            THE OTHER BASED ON ANY RIGHTS, CLAIM OR ACTION ANY OF THEM MAY HAVE AGAINST THE OTHERS, INCLUDING, BUT NOT LIMITED
            TO, ANY RIGHT, STATUTORY RIGHT, CONTROVERSY, DISPUTE, OR CLAIM, INCLUDING ALL CLAIMS SOUNDING IN CONTRACT OR
            TORT, ARISING FROM OR RELATING TO (A) THIS AGREEMENT OR ANY TRANSACTION DOCUMENT; (B) ANY AGREEMENTS INVOLVING
            MERCHANT OR ANY PRINCIPAL, AND PURCHASER, (C) ANY TRANSACTION CONTEMPLATED BY THIS AGREEMENT OR ANY OTHER DOCUMENTS,
            INSTRUMENT OR AGREEMENTS INVOLVING MERCHANT OR ANY PRINCIPAL, AND PURCHASER, OR (D) ANY ASPECT OF ANY RELATIONSHIPS
            OF MERCHANT OR ANY PRINCIPAL, AND PURCHASER.</p>
        </td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <td width='50%'>
          <p>
            <strong>26. WAIVER OF CLASS ACTION</strong>.
            <br>(a)\tMERCHANT AND PRINCIPAL(S) HEREBY KNOWINGLY, VOLUNTARILY AND INTENTIONALLY WAIVE ANY RIGHT TO BRING A CLASS
            ACTION, WHETHER AS A CLASS REPRESENTATIVE OR A CLASS MEMBER, AGAINST PURCHASER OR ANY AFFILIATED ENTITY BASED
            ON ANY CONTROVERSY, DISPUTE, OR CLAIM, INCLUDING ALL CLAIMS SOUNDING IN CONTRACT OR TORT, ARISING FROM OR RELATING
            TO (A) THIS AGREEMENT OR ANY TRANSACTION DOCUMENT; (B) ANY AGREEMENTS INVOLVING MERCHANT OR ANY PRINCIPAL, AND
            PURCHASER, (C) ANY TRANSACTION CONTEMPLATED BY THIS AGREEMENT OR ANY OTHER DOCUMENTS, INSTRUMENT OR AGREEMENTS
            INVOLVING MERCHANT OR ANY PRINCIPAL, AND PURCHASER, OR (D) ANY ASPECT OF ANY RELATIONSHIPS OF MERCHANT OR ANY
            PRINCIPAL, AND PURCHASER.\tTHIS WAIVER OF CLASS ACTION PROVISION IS A MATERIAL INDUCEMENT FOR PURCHASER TO ENTER
            INTO THIS AGREEMENT.</p>(b)\tPurchaser, Merchant, and Principal(s) agree that all issues and disputes related
          to this Section 26, including but not limited to the meaning, construction, validity, scope and/or enforceability
          of this Section 26, shall be decided by an arbitrator pursuant to Section 13 of this Agreement. In the event that
          this Section 26 is determined to be illegal or unenforceable, Purchaser, in its sole discretion, shall elect whether
          any class action against it shall be brought in a judicial proceeding pursuant to Section 11 of this Agreement
          or in arbitration pursuant to Section 13 of this Agreement.
          <p>
            <strong>27. Confidentiality</strong>. Merchant and each Principal understands and agrees that the terms and conditions
            of this Agreement and any documents that Merchant and each Principal executes in connection with this Agreement
            (collectively, “Confidential Information”) are proprietary and confidential information of Purchaser. Accordingly
            unless disclosure is required by law or court order, Merchant and each Principal shall not disclose Confidential
            Information of Purchaser to any person other than an attorney, accountant, financial advisor or employee of Merchant
            or Principal(s) who needs to know such information for the purpose of advising Merchant or Principal(s) (“Advisor”),
            provided such Advisor uses such information solely for the purpose of advising Merchant or Principal(s) and first
            agrees in writing to be bound by the terms of this Section 27. Merchant and each Principal shall provide Purchaser
            with adequate advance notice of any legal or court order compelling disclosure of such Confidential Information,
            in order to provide Purchaser with the opportunity to properly object to such disclosure.</p>
          <p>
            <strong>28. Assignment</strong>. Merchant and Principal(s) shall not have the right to assign their rights under this
            Agreement or any interest in this Agreement without the prior written consent of Purchaser which consent may
            be withheld in Purchaser’s sole discretion. Purchaser reserves the right to assign this Agreement or any interest
            under this Agreement with or without prior written notice to Merchant or Principal(s).</p>
          <p>
            <strong>29. Debt Settlement and Similar Services</strong>. Merchant waives any right during the term of this Agreement
            to third party representation with respect to, and agrees not to enter into any agreement with a third party
            that offers, the following services: debt restructuring services, debt settlement services, debt management services,
            debt balance reduction services, creditor reduction services, creditor negotiation services, financial mitigation
            services, turnaround consulting services and/or any similar services. Merchant agrees to notify Purchaser within
            24 hours of Merchant’s receipt of any solicitation from any third party (i) offering the services described in
            this Section 29 or (ii) attempting to induce Merchant to breach the terms of this Agreement. Merchant shall include
            with the notice to Purchaser the name and contact information of the third party and a copy of any written solicitation
            materials provided by the third party to Merchant.</p>
          <p>
            <strong>30. FULL PAYMENT DUE UPON SALE</strong>. If Merchant undertakes or enters into any transaction involving the
            sale of Merchant, either by issuance, sale, or transfer of ownership interests in Merchant that results in a
            change in ownership or voting control of Merchant, or by a sale or transfer of substantially all of the assets
            of Merchant, then the outstanding balance of the Amount Sold is due and payable immediately in full.</p>
        </td>
        <td width='50%'>
          <p>
            <strong>31. Definitions and Interpretation</strong>. “Merchant” shall be interpreted to include Merchant and each Principal
            unless such interpretation would be redundant or inapplicable. Purchaser shall exclusively decide how “Merchant”
            shall be interpreted in any ambiguous references. All Section headings in this Agreement are inserted for convenience
            only and are not intended to affect the interpretation of the Agreement.</p>
          <p>
            <strong>32. Construction</strong>. No provision of this Agreement shall be construed or enforced against any Party hereto
            because such Party drafted or caused to be drafted such provision. Each provision of this Agreement shall be
            construed as if such provision had been proposed and drafted or caused to be drafted by all Parties hereto.</p>
          <p>
            <strong>33. Limitation of Liability</strong>. The Parties agree that in no event shall Purchaser’s total liability to
            Merchant and any Principal, regardless of the cause of action or character or type of damages sought, exceed
            the Amount Sold less the Purchase Price.</p>
          <p>
            <strong>34. AUTHORIZATION AND ASSIGNABILITY OF FUTURE RECEIPTS; INDEMNIFICATION FOR CLAIMS BROUGHT BY THIRD PARTIES</strong>.
            Merchant, and each Principal represent, warrant and covenant that (i) Merchant and each Principal have full power
            and authority to enter into and perform their obligations under this Agreement, all of which have been duly authorized
            by all necessary and proper action, (ii) the Amount Sold of Future Receipts that Merchant sold to Purchaser was
            freely assignable by Merchant, (iii) this Agreement does not violate the terms of any other agreement to which
            Merchant or any Principal is subject and (iv) there is no restriction or limitation on Merchant (as may be contained
            in its organizational documents, any agreement that Merchant has with any third party or otherwise) that would
            prevent Merchant from entering into this Agreement or satisfying Merchant’s obligations under this Agreement.
            Merchant and each Principal, jointly and severally, shall assume liability for and do hereby agree to indemnify,
            protect, save and keep harmless Purchaser and its agents and servants, from and against any and all liabilities,
            Claims, losses, obligations, damages, penalties, actions, and suits of whatsoever kind and nature imposed on,
            incurred by or asserted against Purchaser or its agents and servants, in any way relating to or growing out of
            any claim by any third party that this Agreement violates the terms of any other agreement to which Merchant
            or any Principal is subject.</p>
        </td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <p>EACH PARTY ACKNOWLEDGES THAT THEY HAVE READ, AGREE AND UNDERSTAND THE AGREEMENT AND SHALL BE OBLIGATED UPON EXECUTION
      OF THE AGREEMENT TO ALL OF THE FOREGOING TERMS AND CONDITIONS INCLUDING SECTION 13 ARBITRATION OF DISPUTES AND CLAIMS,
      SECTION 14 COVENANT NOT TO SUE, SECTION 24 WAIVER OF JURY TRIAL, SECTION 25 WAIVER OF PUNITIVE DAMAGES AND SECTION
      26 WAIVER OF CLASS ACTION AND OTHER ADDITIONAL TERMS SET FORTH ON PAGES 1-6 HEREIN AND THE AUTHORIZATION AGREEMENT
      FOR DIRECT DEPOSITS (ACH CREDITS) AND DIRECT PAYMENTS (ACH DEBITS) AND ANY OTHER EXHIBITS, ADDENDUMS OR SCHEDULES THAT
      MAY BE ADDED OR ATTACHED HERETO. The person executing this Agreement on behalf of Merchant warrants and represents
      that he/she is authorized to bind Merchant to all of the terms and conditions set forth in this Agreement and that
      all of the information provided herein is true and accurate in all respects. Purchaser’s payment of the Purchase Price
      shall be deemed Purchaser’s acceptance of this Agreement, notwithstanding Purchaser’s failure to sign this Agreement.</p>
    <p>
      <strong>ANY MISREPRESENTATION MADE BY MERCHANT OR ANY PRINCIPAL IN CONNECTION WITH THIS AGREEMENT MAY CONSTITUTE FRAUD OR INTENTIONAL
        MISREPRESENTATION.
      </strong>
    </p>
    <table width='100%' class='table-nobrdr'>
      <tr valign='top'>
        <th width='48%'>Lendfoundry, LLC</th>
        <th width='4%'>&nbsp;</th>
        <th width='48%'>Merchant (Business)</th>
      </tr>
      <tr valign='top'>
        <td>
          <table width='100%' class='table-fileds'>
            <tr>
              <td width='12%'>Signature: </td>
              <td class='anchorString'>LENDFOUNDRY_SIGNATURE</td>
            </tr>
            <tr>
              <td>Name:</td>
              <td class='brdr-btm'>{{LenderName}}</td>
            </tr>
            <tr>
              <td>Title:</td>
              <td class='brdr-btm'>Lender</td>
            </tr>
            <tr>
              <td>Date:</td>
              <td class='anchorString'>DateSignedLender</td>
            </tr>
          </table>
        </td>
        <td></td>
        <td>
          <table width='100%' class='table-fileds'>
            <tr>
              <td width='12%'>Signature: </td>
              <td class='anchorString'>MERCHANTSIGNATURE</td>
            </tr>
            <tr>
              <td>Name:</td>
              <td class='brdr-btm'>{{OwnerList.0.OwnerName}}</td>
            </tr>
            <tr>
              <td>Title:</td>
              <td class='brdr-btm'>{{Title}}</td>
            </tr>
            <tr>
              <td>Date:</td>
              <td class='anchorString'>SIGNED_DATE1</td>
            </tr>
          </table>{{#each OwnerList}}
          <p>
            <strong>Principal {{id}} (individually)</strong>
          </p>
          <table width='100%' class='table-fileds'>
            <tr>
              <td width='12%'>Signature: </td>
              <td class='anchorString'>SIGNATUREOWNER{{id}}</td>
            </tr>
            <tr>
              <td>Name:</td>
              <td class='brdr-btm'>{{OwnerName}}</td>
            </tr>
            <tr>
              <td>Title:</td>
              <td class='brdr-btm'>Owner</td>
            </tr>
            <tr>
              <td>Date:</td>
              <td class='anchorString'>SIGNED_DATE{{id}}</td>
            </tr>
          </table>{{/each}}</td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>AUTHORIZATION AGREEMENT FOR DIRECT DEPOSIT
      <br>(ACH CREDITS) AND DIRECT PAYMENTS (ACH DEBITS)</h3>
    <p>This Authorization Agreement for Direct Deposits (ACH Credits) and Direct Payments (ACH Debits) is part of (and incorporated
      by reference into) the Future Receipts Sale Agreement (the “Agreement”). Merchant should keep this important legal
      document for Merchant’s records.</p>
    <p>
      <strong>DISBURSMENT OF PURCHASE PRICE AND OTHER AMOUNTS OWED TO MERCHANT</strong>. By signing below, Merchant authorizes Purchaser
      to disburse (i) the Purchase Price set forth in the Agreement less the amount of any applicable fees upon Purchaser’s
      approval by initiating an ACH credit to the checking account identified below (or a substitute checking account Merchant
      later identifies and is acceptable to Purchaser) (hereinafter referred to as the “Approved Account”) and (ii) any Monthly
      Reconciliation and other amounts that Merchant may become entitled to under the Agreement by initiating one or more
      ACH credits to the Approved Account. This authorization is to remain in full force and effect until Purchaser has received
      written notification from Merchant of its termination in such time and in such manner as to afford Purchaser and Merchant’s
      depository bank a reasonable opportunity to act on it.</p>
    <p>
      <strong>DAILY ACH COLLECTIONS</strong>. By signing below, Merchant enrolls in Purchaser’s Automatic Collection Program and
      authorizes Purchaser to collect each Business Day the Daily Amount of Future Receipts by initiating ACH debits to the
      Approved Account in accordance with the terms of the Future Receipts Sale Agreement. Merchant authorizes Purchaser
      to increase the amount of any ACH debit or assess multiple ACH debits to collect the amount of (i) any previous ACH
      debit that was dishonored or returned unpaid for any reason and (ii) any fees or damages that Merchant owes Purchaser
      pursuant to the Future Receipts Sale Agreement. Merchant understands that the foregoing ACH authorization is a fundamental
      condition to induce Purchaser to accept the Agreement. Consequently, such authorization is intended to be irrevocable
      by Merchant. In the event that Merchant terminates the ACH authorization, Purchaser, in its sole discretion, may deem
      such termination to be a breach of the Agreement. Purchaser may suspend or terminate Merchant’s enrollment in the Automatic
      Collection Program and the initiation of daily ACH debits to the Approved Account if Merchant fails to keep the Approved
      Account in good standing or if there are insufficient funds in the Approved Account to process any authorized ACH debit.
      If Purchaser’s enrollment in the Automatic Collection Program is terminated or suspended, Merchant agrees to deliver
      to Purchaser funds arising from Future Receipts in accordance with the terms of the Agreement.</p>
    <p>
      <strong>BUSINESS PURPOSE ACCOUNT</strong>. By signing below, Merchant attests that the Approved Account was established for
      business purposes and not primarily for personal, family or household purposes.</p>
    <p>
      <strong>ACCOUNT CHANGES</strong>. Merchant agrees to notify Purchaser promptly if there are any changes to the account and
      routing numbers of the Approved Account.</p>
    <p>
      <strong>MISCELLANEOUS</strong>. Purchaser is not responsible for any fees charged by Merchant’s bank as the result of credits
      or debits initiated under this agreement. The origination of ACH transactions to Merchant’s bank accounts, including,
      but not limited to, the Approved Account, must comply with the provisions of U.S. law.</p>
    <table width='100%' class=\ 'table-fileds'>
      <tr>
        <td width='18%'>Depository Name:</td>
        <td class=''>{{DepositoryName}}</td>
      </tr>
      <tr>
        <td>City / State / Zip:</td>
        <td class='brdr-btm'>{{City}}, {{State}}, {{Zip}}</td>
      </tr>
      <tr>
        <td>Business Name:</td>
        <td class='brdr-btm'>{{MerchantLegalName}}</td>
      </tr>
    </table>
    <table width='100%' class='table-fileds'>
      <tr>
        <td width='17%'>Routing Number:</td>
        <td class='anchorString'>ROUTING_NUMBER</td>
        <td width='17%'>Account Number:</td>
        <td class='anchorString'>ACCOUNT_NUMBER</td>
      </tr>
    </table>
    <table width='100%' class='table-fileds'>
      <tr>
        <td width='10%'>Signature: </td>
        <td class='anchorString'>AUTHSGNATURE</td>
        <td width='4%'>&nbsp;</td>
        <td width='5%'> Title </td>
        <td class='brdr-btm'>{{Title}}</td>
      </tr>
      <tr>
        <td>Name: </td>
        <td class='brdr-btm'>{{OwnerList.0.OwnerName}}</td>
        <td>&nbsp;</td>
        <td>Date: </td>
        <td class='anchorString'>SIGNED_DATE1</td>
      </tr>
    </table>
    <div class='onbehalf'>
      <small>Please initial here on behalf of Merchant:
        <span class='anchorString'> INITIAL_SIGNATURE</span>
      </small>
    </div>
    <div class='pagebreak'></div>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>ACCOUNT VERIFICATION</h3>
    <p>In order to release the funds, we require access to the Approved Account to verify the financial health of the Business.
      You may choose one of two simple and secure options to verify your account.</p>
    <p>
      <strong>Please complete either Option 1 OR Option 2, then sign the Authorization section at the bottom of this page.</strong>
    </p>
    <p>
      <strong>Option 1: Decision Logic</strong>
      <br>
      <p>Decision Logic is a secure bank endorsed third-party gateway that does not capture or store any of your personal information,
        including login credentials. The URL below links directly to the login page:</p>
      <p>
        <u>https://www.decisionlogic.com/003bf4ca-5079-46d4-9589-775773fe6ccc</u>
      </p>
      <p>Alternatively, please contact your Business Advisor and they will send a direct link to your email. </p>
      <br>
      <br>
      <p>
        <strong>Option 2 : Bank Login</strong>
        <br>Please provide the access information requested below for the Approved Account. </p>
      <table width='70%' class=\ 'table-fileds'>
        <tr>
          <td width='30%'>Bank Portal Website:</td>
          <td class='anchorString'>BANKPORTAL_WEBSITE</td>
        </tr>
        <tr>
          <td>Username:</td>
          <td class='anchorString'>USERNAME</td>
        </tr>
        <tr>
          <td>Password:</td>
          <td class='anchorString'>PASSWORD</td>
        </tr>
      </table>
      <table width='70%' class='table-fileds'>
        <tr>
          <td width='34%'>Security Question/Answer 1:</td>
          <td class='anchorString'>SECURITY_QUESTION_1</td>
        </tr>
        <tr>
          <td>Security Question/Answer 2:</td>
          <td class='anchorString'>SECURITY_QUESTION_2</td>
        </tr>
        <tr>
          <td>Security Question/Answer 3:</td>
          <td class='anchorString'>SECURITY_QUESTION_3</td>
        </tr>
      </table>
      <table width='70%' class='table-fileds'>
        <tr>
          <td width='76%'>Any other information necessary to access your Approved Account:</td>
          <td class='anchorString'>OTHER_AUTH_INFO</td>
        </tr>
      </table>
      <br>
      <br>
      <h3 class='text-center'>AUTHORIZATION TO ACCESS BANK ACCOUNT INFORMATION</h3>
      <p>This Authorization to Access Bank Account is part of (and incorporated by reference into) the Future Receipts/Receivables
        Sale Agreement (the “Agreement”). Merchant should keep this important legal document for Merchant’s records. By signing
        below, Merchant authorizes Buyer to view information on Merchant’s bank account (the “Approved Account”) to (i) confirm
        the information that Merchant provided to Buyer on the Approved Account and determine whether the Approved Account
        is in good standing prior to releasing funds to Merchant in connection with the purchase and sale transaction and
        (ii) otherwise administer the purchase and sale transaction in accordance with the Agreement. Please be assured that
        Buyer will carefully safeguard Merchant’s confidential Approved Account information and only essential personnel
        will have access to it.</p>
      <p>The below fee structure applies to the Approved Account (see your Agreement for details):
        <br>A. Returned Item Fee - $35
        <br>B. Rejected ACH Fee - $100
        <br>C. Blocked Account Damages - Up to $2,500 or 25% of the Amount Sold, whichever is greater
        <br>D. Bank Change Damages - $50
        <br>E. Stacking Damages - Up to $2,500 or 25% of the Amount Sold, whichever is greater</p>
      <p>Merchant (Business):</p>
      <table width='40%' class='table-fileds'>
        <tr>
          <td width='12%'>Signature: </td>
          <td class='anchorString'>VERIFYSIGNATURE</td>
        </tr>
        <tr>
          <td>Name:</td>
          <td class='anchorString'>OWNER_NAME</td>
        </tr>
        <tr>
          <td>Title:</td>
          <td class='brdr-btm'>{{Title}}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td class='anchorString'>SIGNED_DATE1</td>
        </tr>
      </table>
  </div>
</body>

</html>