<!DOCTYPE html>
<html lang='eng'>

<head>
  <meta charset='utf-8' />
  <title>FUTURE RECEIPTS SALE AGREEMENT</title>

  <style>
    body {
      font-size: 11pt;
      font-family: 'Calibri';
      margin: 0;
      padding: 0;
    }

    p,
    td {
      font-size: 11pt;
      font-family: 'Calibri';
      color: #000;
    }

    p {
      text-align: justify
    }

    h3 {
      font-family: 'Calibri';
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }

    h4 {
      font-family: 'Calibri';
      margin: 0;
      margin-bottom: 5px;
      margin-top: 20px;
    }

    h4 {
      font-family: 'Calibri';
      margin: 0;
      margin-bottom: 5px;
      margin-top: 20px;
    }

    .text-center {
      text-align: center;
    }

    .italic {
      font-style: italic;
      font-size: 10pt;
      font-family: 'Calibri';
    }

    table {
      border-collapse: collapse;
    }

    table th {
      text-align: left;
    }

    table td.blank {
      background: #daeef3
    }

    .table td {
      padding: 5px;
      border: 1px solid #333;
    }

    .table-nobrdr td {
      padding: 5px;
      border: 0;
      text-align: justify
    }

    .dot-border td {
      padding: 5px;
      border: 1px dotted #555;
    }

    .dot-border td .price {
      display: block;
      border-bottom: 1px solid #333;
    }

    .dot-border td.bg {
      background: #eaf1dd;
    }

    .table-fileds td {
      padding: 5px;
      padding-top: 15px;
      padding-bottom: 0
    }

    .table-fileds td.brdr-btm {
      border-bottom: 1px solid #333;
    }

    .contianer {
      margin: 30px auto;
      max-width: 800px;
      width: 100%;
    }

    .onbehalf {
      text-align: right;
      margin-top: 40px;
    }

    .onbehalf small {
      font-size: 10px;
      color: #777;
    }

    .onbehalf span {
      display: inline-block;
      width: 150px
    }

    .anchorString {
      color: white;
    }

    .pagebreak {
      min-height: 70px;
    }
  </style>
</head>

<body>
  <div class='contianer'>
    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>SUPPLEMENTAL PURCHASE OF RECEIVABLES AGREEMENT</h3>
    <p>This Supplemental Purchase of Receivables Agreement (“Supplement”) supplements the Purchase of Receivables Agreement
      by and among the undersigned Merchant, the Principals of the Merchant party thereto, and Lendfoundry, LLC dated
      <span class='red'>00/00/00</span> (the “Original Agreement”). This Supplemental Purchase of Receivables Agreement does supplement any
      other Addendums between the Principals of the Merchant party and Lendfoundry, LLC other than the above mentioned “Original
      Agreement.” Capitalized terms used but not defined herein have the meaning given to them in the Original Agreement.
      In connection with the Original Agreement, Lendfoundry, the Merchant and the Principal(s) [confirm the same principals
      are signing each document] may have entered into one or more Supplemental Purchase of Receivables Agreements(s) prior
      to the date hereof (collectively, the “Prior Supplements”). Pursuant to the terms of this Supplement, Lendfoundry purchases
      from Merchant for the purchase price specified below (the “Additional Purchase Price”), and Merchant sells to Lendfoundry,
      additional Receivables in the amount specified herein (the “Additional Purchase Amount”).Commencing upon delivery to
      Lendfoundry in full of the Purchase Amount under the Original Agreement and all Additional Purchase Amounts (as defined
      in the applicable Prior Supplements) under the Prior Supplements (if any), Merchant promises to deliver to Lendfoundry
      the Additional Purchase Amount by delivering to Lendfoundry the amount of Receivables each business day/week set forth
      below (the “Per Business Day/Week Amount”) until the entire Additional Purchase Amount has been delivered to Lendfoundry.
      Merchant shall deliver the Per Business Day/Week Amount to Lendfoundry by authorizing Lendfoundry to debit the Account.
      Except as expressly supplemented herein, the Original Agreement, the Prior Supplements and all other documents executed
      in connection therewith (including, but not limited to, the Processing Order) are hereby ratified in their entirety
      and shall remain in full force and effect in accordance with their terms and shall govern the purchase of the Additional
      Purchase Amount under this Supplement. For the avoidance of doubt: (i) the Additional Purchase Amount, the Per Business
      Day/Week Amount listed in this Supplement relate solely to the Additional Purchase Price listen in this Supplement,
      and does not, replace, supersede or amend such defined terms in the Original Agreement or any of the Prior Supplements;
      and (ii) pursuant to the terms and conditions set forth in the Original Agreement.</p>

    <p>
      <strong>By this letter, we mutually agree to the following modifications to the terms of the above noted Purchase of Receivables
        Agreement for this Purchase of Receivables Agreement between Lendfoundry, LLC and
        <span class='red'>{{MerchantLegalName}}</span> dated
        <span class='red'>SIGNED_DATE1</span>.</strong>
    </p>

    <p>1. The parties agree to modify the Purchase of Receivables Amount from
      <span class='red'>$0000.00</span> to
      <span class='red'>$0000.00</span> effective upon receipt of additional funding.</p>
    <p>2. The parties agree that the receivables Lendfoundry LLC has purchased will be delivered through
      <span class='red'>{{Frequency}}</span> ACH bank Account debits in the amount of $_______ every
      <span class='red'>Specified Day of Week/Business Day</span> until all purchased receivables and any other sums due have been received
      by Lendfoundry. </p>

    <table width='100%' class='table dot-border'>
      <tr>
        <td colspan='4' class='text-center'>These revised terms are only valid while our agreement is in good standing, and all other terms and conditions are
          satisfied.
          <strong>SUBJECT TO THE TERMS AND CONDITIONS OF THE ORIGINAL AGREEMENT WHICH ARE PART OF THIS SUPPLIMENTAL AGREEMENT.</strong>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width='25%'>Current Balance </td>
        <td width='25%' class='bg'>
          <span class='price'>{{PrevOutstanding}}</span>
        </td>
        <td width='25%'>New Purchase Price</td>
        <td width='25%' class='bg'>
          <span class='price'>{{TotalOutstanding}}</span>
        </td>
      </tr>
      <tr>
        <td>Additional Purchase Price</td>
        <td class='bg'>
          <span class='price'>{{DrawdownAmount}}</span>
        </td>
        <td>New Per
          <span class='red'>Day/Week</span> Amount</td>
        <td class='bg'>
          <span class='price'></span>
        </td>
      </tr>
    </table>
    <br> {{#if DrawdownSchedule}}
    <table width='100%' class='table dot-border'>
      <tr>
        <td width='20%'>
          <strong>Payment</strong>
        </td>
        <td width='20%'>
          <strong>Month 1-2</strong>
        </td>
        <td width='20%'>
          <strong>Month 3-6</strong>
        </td>
        <td width='20%'>
          <strong>New Payback Amount</strong>
        </td>
        <td width='20%' class='bg'>
          <span class='price'>{{TotalPaybackAmount}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class='red'>{{Frequency}}</span>
        </td>
        <td class='bg'>$ {{HigherOrder}}</td>
        <td class='bg'>$ {{LowerOrder}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <strong>Principle</strong>
        </td>
        <td>
          <strong>Finance Fee</strong>
        </td>
        <td>
          <strong>Total Payment</strong>
        </td>
        <td>
          <strong>Total Payback</strong>
        </td>
      </tr>
      {{#each DrawdownSchedule}}
      <tr>
        <td>
          <strong>Month {{MonthId}}</strong>
        </td>
        <td class='bg'>${{Principle}}</td>
        <td class='bg'>${{Interest}}</td>
        <td class='bg'>${{Payment}}</td>
        <td class='bg'>${{TotalPayback}}</td>
      </tr>
      {{/each}}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <strong>Professional Service Fee </strong>
        </td>
        <td class='bg'>${{ProcessingFee}}</td>
        <td>
          <strong>Disbursement Amount</strong>
        </td>
        <td class='bg'>${{Disbursement}}</td>
      </tr>
    </table>
    {{/if}}
    <br>
    <p>Merchant and the undersigned Principal(s) hereby certify that, as of the date hereof, the information given in Merchant’s
      Application in connection with the Original Agreement and for any Prior Supplements, and the representations, warranties,
      and covenants contained in the Original Agreement and any Prior Supplements, except to the extent updated by the Merchant
      and or/Principals(s) to Lendfoundry in writing, is true and correct. Each undersigned Principal, in his or her individual
      capacity, unconditionally, absolutely and irrevocably, jointly and severally, reaffirms its guarantee under the Original
      Agreement and any Prior Supplements. In the event of a Structural Default, each of the undersigned Principal(s) unconditionally,
      absolutely and irrevocably, jointly and severally, shall be liable to Lendfoundry for damages equal to this amount
      by which the Additional Purchase Amount exceeds the Receivables previously delivered to Lendfoundry pursuant to this
      Supplement, and shall be liable for amounts Lendfoundry is entitled to receive pursuant to the Original Agreement’s
      Terms and Conditions.</p>

    <table width='100%' class='table dot-border'>
      <tr>
        <th colspan='2'>
          <strong>MERCHANT</strong>
        </th>
        <th colspan='2'>
          <strong>PRINCIPAL{{OwnerList.0.id}}</strong>
        </th>
        <th colspan='2'>
          <strong>PRINCIPAL{{OwnerList.1.id}}</strong>
        </th>
      </tr>
      <tr>
        <td width='5%'>Name:</td>
        <td width='13%'>{{OwnerList.0.OwnerName}}
          <span class='price'></span>
        </td>
        <td width='5%'>Name</td>
        <td width='13%'>{{OwnerList.0.OwnerName}}
          <span class='price'></span>
        </td>
        <td width='5%'>Name:</td>
        <td width='13%'>{{OwnerList.1.OwnerName}}
          <span class='price'></span>
        </td>

      </tr>
      <tr>
        <td>Signature:</td>
        <td>
          <span class='anchorString'>MERCHANTSIGNATURE</span>
        </td>
        <td>Signature:</td>
        <td>
          <span class='anchorString'>SIGNATUREOWNER1</span>
        </td>
        <td>Signature:</td>
        <td>
          <span class='anchorString'>SIGNATUREOWNER2</span>
        </td>
      </tr>
      <tr>
        <td>Title:</td>
        <td>
          <span class='price'>{{Title}}</span>
        </td>
        <td>Title:</td>
        <td>
          <span class='price'>{{Title}}</span>
        </td>
        <td>Title:</td>
        <td>
          <span class='price'>{{Title}}</span>
        </td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>
          <span class='anchorString'>SIGNED_DATE1</span>
        </td>
        <td>Date:</td>
        <td>
          <span class='anchorString'>SIGNED_DATE1</span>
        </td>
        <td>Date:</td>
        <td>
          <span class='anchorString'>SIGNED_DATE2</span>
        </td>
      </tr>
      <tr>
        <th colspan='2'>
          <strong>PRINCIPAL{{OwnerList.2.id}}</strong>
        </th>
        <th colspan='2'>
          <strong>PRINCIPAL{{OwnerList.3.id}}</strong>
        </th>
      </tr>
      <tr>
        <td width='5%'>Name:</td>
        <td width='13%'>{{OwnerList.2.OwnerName}}
          <span class='price'></span>
        </td>
        <td width='5%'>Name</td>
        <td width='13%'>{{OwnerList.3.OwnerName}}
          <span class='price'></span>
        </td>

      </tr>
      <tr>
        <td>Signature:</td>
        <td>
          <span class='anchorString'>SIGNATUREOWNER3</span>
        </td>
        <td>Signature:</td>
        <td>
          <span class='anchorString'>SIGNATUREOWNER4</span>
        </td>
      </tr>
      <tr>
        <td>Title:</td>
        <td>
          <span class='price'>{{Title}}</span>
        </td>
        <td>Title:</td>
        <td>
          <span class='price'>{{Title}}</span>
        </td>

      </tr>
      <tr>
        <td>Date:</td>
        <td>
          <span class='anchorString'>SIGNED_DATE3</span>
        </td>
        <td>Date:</td>
        <td>
          <span class='anchorString'>SIGNED_DATE4</span>
        </td>

      </tr>
    </table>

    <div class='pagebreak'></div>

    <div class='text-center'>
      <img src='{{Logo}}'>
    </div>
    <h3 class='text-center'>ACCOUNT VERIFICATION</h3>
    <p>In order to release the funds, we require access to the Approved Account to verify the financial health of the Business.
      You may choose one of two simple and secure options to verify your account.</p>

    <p>
      <strong>Please complete either Option 1 OR Option 2, then sign the Authorization section at the bottom of this page.</strong>
    </p>

    <p>
      <strong>Option 1: Decision Logic</strong>
      <br>
      <p>Decision Logic is a secure bank endorsed third-party gateway that does not capture or store any of your personal information,
        including login credentials. The URL below links directly to the login page:</p>
      <p>
        <u>https://www.decisionlogic.com/003bf4ca-5079-46d4-9589-775773fe6ccc</u>
      </p>
      <p>Alternatively, please contact your Business Advisor and they will send a direct link to your email. </p>
      <br>
      <br>
      <p>
        <strong>Option 2 : Bank Login</strong>
        <br> Please provide the access information requested below for the Approved Account. </p>

      <table width='70%' class='table-fileds'>
        <tr>
          <td width='30%'>Bank Portal Website:</td>
          <td class='anchorString'>BANKPORTAL_WEBSITE</td>
        </tr>
        <tr>
          <td>Username:</td>
          <td class='anchorString'>USERNAME</td>
        </tr>
        <tr>
          <td>Password:</td>
          <td class='anchorString'>PASSWORD</td>
        </tr>
      </table>
      <table width='70%' class='table-fileds'>
        <tr>
          <td width='34%'>Security Question/Answer 1:</td>
          <td class='anchorString'>SECURITY_QUESTION_1</td>
        </tr>
        <tr>
          <td>Security Question/Answer 2:</td>
          <td class='anchorString'>SECURITY_QUESTION_2</td>
        </tr>
        <tr>
          <td>Security Question/Answer 3:</td>
          <td class='anchorString'>SECURITY_QUESTION_3</td>
        </tr>
      </table>
      <table width='70%' class='table-fileds'>
        <tr>
          <td width='76%'>Any other information necessary to access your Approved Account:</td>
          <td class='anchorString'>OTHER_AUTH_INFO</td>
        </tr>
      </table>
      <br>
      <br>

      <h3 class='text-center'>AUTHORIZATION TO ACCESS BANK ACCOUNT INFORMATION</h3>
      <p>This Authorization to Access Bank Account is part of (and incorporated by reference into) the Future Receipts/Receivables
        Sale Agreement (the “Agreement”). Merchant should keep this important legal document for Merchant’s records. By signing
        below, Merchant authorizes Buyer to view information on Merchant’s bank account (the “Approved Account”) to (i) confirm
        the information that Merchant provided to Buyer on the Approved Account and determine whether the Approved Account
        is in good standing prior to releasing funds to Merchant in connection with the purchase and sale transaction and
        (ii) otherwise administer the purchase and sale transaction in accordance with the Agreement. Please be assured that
        Buyer will carefully safeguard Merchant’s confidential Approved Account information and only essential personnel
        will have access to it.</p>

      <p>The below fee structure applies to the Approved Account (see your Agreement for details):
        <br> A. Returned Item Fee - $35
        <br> B. Rejected ACH Fee - $100
        <br> C. Blocked Account Damages - Up to $2,500 or 25% of the Amount Sold, whichever is greater
        <br> D. Bank Change Damages - $50
        <br> E. Stacking Damages - Up to $2,500 or 25% of the Amount Sold, whichever is greater</p>
      <p>Merchant (Business):</p>

      <table width='40%' class='table-fileds'>
        <tr>
          <td width='12%'>Signature: </td>
          <td class='anchorString'>AUTHSIGNATURE</td>
        </tr>
        <tr>
          <td>Name:</td>
          <td class='brdr-btm'>{{Owner1Name}}</td>
        </tr>
        <tr>
          <td>Title:</td>
          <td class='brdr-btm'>Owner</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td class='anchorString'>SIGNED_DATE1</td>
        </tr>
      </table>

  </div>
</body>

</html>