<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<html>
<HEAD>
	
	<STYLE TYPE='text/css'>
	
	</STYLE>
</HEAD>
<body LANG='en-US' DIR='LTR'>
<div style='margin:0px auto; padding:0px; width:750px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
<div style='width:720px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 0px 25px; float:left;'>
<!-- <div style='text-align:center; margin:10px 0px 20px 0px;'><a href='#'><img src='images/logo.png'  alt='Capital Alliance' border='0'/></a></div> -->

<div style='margin:0px 0px 20px 10px; float:left; width:100%; font-size:14px; color:#666769;'>
<p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Business Name: <span style=' color:#0053ab; font-weight:normal;'>{{businessName}} </span></P>
<p style='padding:0px; margin:5px 0px; font-weight:bold; color:#000'>Loan # <span style=' color:#0053ab; font-weight:normal;'>{{loanNumber}}</span></P>
<p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
<P style='padding:0px; margin:5px 0px;'>Dear <span style=' color:#0053ab;'>{{name}}</span>,</P>

<P style='padding:0px; margin:5px 0px;'>Thank you for
discussing a plan moving forward that will best help you get back on
track. We understand the nature of business and know that unexpected
challenges can arise. Please remember that reaching out to us in
advance in such conditions will always help both of us. We will keep
in touch throughout this process to make sure the plan still suits
your needs, so please allow us to continue to help you by keeping an
open line of communication.  
</P>
<P style='padding:0px; margin:5px 0px;'>Please accept this
letter as confirmation for the loan modification effective <FONT COLOR='#0053ab'> {{activationDate}}</FONT>. By this letter, we mutually agree to
the following modifications to the terms:</P>
</br>
<P style='padding:0px; margin:5px 0px;'>Reason: <span style=' color:#0053ab;'>{{modReason}} </span></P>
<P style='padding:0px; margin:5px 0px;'>
Total Principal Outstanding:<span style=' color:#0053ab;'> ${{totalPrincipalOutstanding}}  </span></P>
<P style='padding:0px; margin:5px 0px;'>Total Interest/Finance Charge Outstanding:<span style=' color:#0053ab;'> ${{totalInterestOutstanding}} </span>
<P style='padding:0px; margin:5px 0px;'>Total Balance
Outstanding:<span style=' color:#0053ab;'> ${{currentBalance}} </span></P>	
<P style='padding:0px; margin:5px 0px;'>Number of Payments:<span style=' color:#0053ab;'> {{noOfPayments}} </span></P>
<P style='padding:0px; margin:5px 0px;'>{{labelForRate}} :<span style=' color:#0053ab;'> {{interestRate}} </span></P>
<P style='padding:0px; margin:5px 0px;'>*Denotes the fields that have been modified as per our consent. </P>
<P style='padding:0px; margin:5px 0px;'>Type of Program:<span style=' color:#0053ab;'> {{typeOfProgram}} </span></P>	
<P style='padding:0px; margin:5px 0px;'>Review Date:<span style=' color:#0053ab;'> {{reviewDate}} </span></P>
</br>
<P style='padding:0px; margin:5px 0px;'>Modified Payment Schedule: 
</P>
<table class='test' cellspacing='0' cellpadding='0' style='border:1px solid #ccc; width:95%; margin:20px 0px;'>
				<thead>                
				<tr>
                        <td style='padding:8px;border:1px solid #ccc;'><b>Schedule Date</b></td>
						<td style='padding:8px;border:1px solid #ccc;'><b>Schedule Amount</b></td>
						<td style='padding:8px;border:1px solid #ccc;'><b>Prinicipal</b></td>
						<td style='padding:8px;border:1px solid #ccc;'><b>{{labelForRateAmount}} </b></td>
                </tr>
				</thead>
				<tbody>
				<span style=' color:#0053ab;'>{{#each scheduleList}}</span>
                <tr>
				     <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>{{ScheduleDate}}</td>
                        <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>${{PaymentAmount}}</td>
                        <td style='padding:8px;color:#0053ab; border:1px solid #ccc;'>${{PrincipalAmount}}</td>
                        <td style='padding:8px;color:#0053ab;border:1px solid #ccc;'>${{InterestAmount}}</td>
						
                </tr>
                 <span style='color:#0053ab;'>{{/each}}</span>
				
				</tbody>
</table>
<P style='padding:0px; margin:5px 0px;'>Please note that after
adhering to the above payment schedule, there will be <span style=' color:#0053ab;'>${{remainderAmount}}</span> outstanding on the loan. Please keep
in mind that all transactions shall be done via the linked bank
account that we have for this agreement. Any change in the same, you
should contact us!</P>
<p style='padding:0px; margin:10px 0px;'>&nbsp;</p>
<P style='padding:0px; margin:0px; font-weight:bold; color:#000'>Kind Regards,</P>
<P style='padding:0px; margin:0px;'>LendFoundry</P>
<P style='padding:0px; margin:0px;'>development@lendfoundry.com</P>

</body>
</html>